@font-face {
    font-family: "mate";
    src: url("./fonts/matesc-regular.ttf");

    font-family: "exo";
    src: url("./fonts/Exo-VariableFont_wght.ttf");
}

h1 {
    font-family: 'arial';
    font-size: 25pt;
    text-align: center;
    margin: 20px 0px;
}

form {
    width: 40vw;
    margin: 0px auto;
    padding: 10px;
    border: 1px solid #ddd;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px silver;
}

input {
    width: 90%;
    padding: 5px;
    display: block;
    margin-bottom: 10px;
}

label {
    font-family: arial;
    font-size: 10pt;
    font-weight: bold;
}

h2 {
    font-family: "Figtree", sans-serif;
    font-size: 30pt;
    text-align: center;
}

#lista {
    width: 70%;
    margin: 10px auto;
    border: 1px solid silver;
    padding: 10px
}

.cabecalho {
    font-weight: bold;
    font-family: "mate";
    display: flex;
}

.cabecalho span {
    flex: 1;
}

.info {
    font-family: "exo";
    font-size: 12pt;
    display: flex;
}

.info span {
    flex: 1;
}